<div class="main-container">
  <div class="container py-5">

    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
      <%= image_tag "image-1.png", class: "image-1" %> 
        <div class="bg-white rounded p-3 shadow form-event">
          <h1 class= "text-center mb-5">Edita tu evento</h1>
          <%= simple_form_for [@talk] do |f| %>
              <%= f.input :title, placeholder: '¿Cuál es el nombre de tu evento?', label: 'Título' %>
              <%= f.input :description, placeholder: '¿De qué se trata?', label: 'Descripción' %>
              <%= f.input :price, placeholder: 'ARS...', label: 'Precio' %>
              <%= f.input :time, placeholder: 'Hora', label: 'Horario' %>
              <%= f.input :date, placeholder: 'Fecha', label: 'Fecha' %>
              <%= f.input :photo, as: :file, label: 'Foto' %>
              <%= f.association :category, placeholder: 'Category', label: 'Categoría' %>
              <%= f.submit 'EDITAR', class: 'btn-event btn btn-primary w-100' %> 
            <% end %>
        </div>
        <%= image_tag "image-2.png", class: "image-2" %> 
      </div>    
    </div>
  </div>
</div>