<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-lg-3">
        <%###################### Búsqueda por palabra clave %>
            <%= form_tag talks_path, method: :get do %>
              <%= text_field_tag :query, params[:query] ,class: "form-control", placeholder: "Palabra Clave"%>
              <%= submit_tag "Buscar", class: "btn btn-primary mb-5" %>
            <% end %>

        <%###################### Filtros %>
            <%= form_tag talks_path, method: :get do %>
              
              <%Category.pluck(:title).each do |category|%> 
              <div class="checkboxinline">
              <input class="checkboxinput" type="checkbox" name="<%=category%>" id="<%=category%>">
              <label for="<%=category%>"><%=category%></label>
              </div>
              <%end%>
             

              <%= date_field_tag :filter, params[:filter] ,class: "form-control", placeholder: "Palabra Clave"%>
              <%= submit_tag "Aplicar filtros", class: "btn btn-primary mb-5" %>
            <% end %>
    </div>
    <div class="col-12 col-lg-9">
      <%###################### CARDS %>
        <%@talks.each do |talk|%>
          <%= link_to talk_path(talk) do %>
            <div class="card-product mb-4">
              <% if talk.photo.attached? %> 
                <%= cl_image_tag talk.photo.key %>
              <% else %>
                <img src="https://secure-content.meetupstatic.com/images/classic-events/495604835/333x188.webp" />
              <% end %> 
              <div class="card-product-infos">
                <p>Fecha: <%=talk.date%></p>
                <h2><%=talk.title%></h2>
                <p>Descripción:<%=talk.description%></p>
                <p> <strong>Precio: </strong><%=talk.price%> $ARG</p>
                <p><%=talk.category.title%></p>
              </div>
            </div>
          <%end%> 
        <%end%>
    </div>
  </div>
</div>