<div class = "container">
  <br>
<div class="row justify-content-center mt-5">
<!--div class="row justify-content-center m-3 shadow"-->

<div class="col-12 col-lg-5">
  <% if @talk.photo.attached? %> 
    <%= cl_image_tag @talk.photo.key, class: "img-fluid rounded", width: 600, height: 600 %>
  <% end %> 
    <% unless @talk.user == current_user%>
      <%=render 'appointments/form' %>        
    <% end %>
      <% unless @talk.user == current_user %>
        <% if current_user&.favorited?(@talk)%> 
          <h4 class= "btn btn-warning w-100 mb-3">Agregado a favoritos</h4>
        <% else %>     
          <%=render 'favorite/form' %> 
        <% end %>
      <% end %>
    </div>

  <div class="col-12 col-lg-5">
      <h3>Descripción del evento</h3>
      <h4><strong><%= @talk.title %></strong></h4>
      <h6 class="font-weight-light"><strong>Nombre del anfitrión: </strong><%= @talk.user.first_name %>, <%= @talk.user.last_name %></h6>
      <br>
      <% if @talk.price.present? && @talk.price > 0 %> 
        <h6><strong>Precio Pesos ARG: </strong>$ <%= @talk.price.to_i %></h6>
          <% else %> 
            <h6><strong>Precio: FREE </strong></h6>
      <% end %> 
      <h6><strong>Fecha: </strong><%= @talk.date %></h6>
      <h6><strong>Hora: </strong><%= @talk.time.strftime("%I:%M %p") %></h6>
      <h6><strong>Categoria: </strong><%= @talk.category.title %> </h6>
      <h6><strong>Capacidad: </strong><%= @talk.capacity.to_i %> personas </h6>
      <br>
       <p class="font-weight-light"><%= @talk.explanation %></p>
      <br>
  </div>
  <!--div class="col-12 col-md-4"-->
  <%# <h6><% @talk.favorited_by?(current_user) %>
  <!--% %-->
</div>

<%if @talk.user != current_user %>
<div class="container">
    <%= render 'shared/review' %>
</div>
  <% else %>
<div class="container">
    <%= render 'shared/spaces' %>
</div>
<% end %>
<%# <%= link_to "Volver al inicio!", root_path, class: "btn btn-primary ml-3"%>
 
