<div class = "container mt-3">

<h3><strong>Detalles de la charla:</strong></h3>
<div class="card m-3 shadow p-3 bg-white rounded" style="max-width: 1200px;">
  <div class="col-md-12 shadow bg-white rounded">
    <div class="card-body">
      <h4><strong><%= @talk.title %></strong></h4>
      <br>
      <br>
      <% if @talk.photo.attached? %> 
      <%= cl_image_tag @talk.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %> 
      <h6><strong>Nombre del anfitrión: </strong><%= @talk.user.first_name %>, <%= @talk.user.last_name %></h6>
      <br>
      <h6><strong>Descripción: </strong> <%= @talk.explanation %></h6>
      <br>
      <% if @talk.price.present? && @talk.price > 0 %> 
        <h6><strong>Precio Pesos ARG: </strong>$ <%= @talk.price.to_i %></h6>
      <% else %> 
        <h6><strong>Precio: FREE </strong></h6>
      <% end %> 
      <h6><strong>Fecha: </strong><%= @talk.date %></h6>
      <h6><strong>Hora: </strong><%= @talk.time.strftime("%I:%M %p") %></h6>
      <h6><strong>Categoria: </strong><%= @talk.category.title %> </h6>
      <h6><strong>Capacidad: </strong><%= @talk.capacity %> personas </h6>
    </div>
    <div class= "container">
      <% unless @talk.user == current_user %>
          <%=render 'appointments/form' %>        
        <% if current_user&.favorited?(@talk)%> 
          <h4 class= "btn btn-warning w-100 mb-3">Ya esta agregado a favoritos</h4>
        <% else %>     
          <%=render 'favorite/form' %> 
        <% end %>
      <% end %>
    
            
            
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%# <h6><% @talk.favorited_by?(current_user) %>
    <% %>
  </div>
</div>
<%# <%= link_to "Volver al inicio!", root_path, class: "btn btn-secondary "%>
 