<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">

  <%= link_to "/", class: "navbar-brand" do %>
  <%= image_tag "newlogoo2.svg", class:"nav-logo" %>
  <% end %>

  <!--nav class="navbar navbar-expand-lg navbar-light bg-light"-->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!--Menu Home y Crear tu Evento-->  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <%= link_to "Home       |", "/", class: "nav-link" %>
      </li>
        <%= link_to "Crear nuevo evento", new_talk_path, class: "nav-link" %>
    
    <!--Menu dropdown-->    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        |  Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Todos los Eventos", talks_path, class: "dropdown-item" %>
          <%= link_to "Busqueda Avanzada", talks_path, class: "dropdown-item" %>

          <%# <%= link_to "Registrarme", new_user_session_path, class: "dropdown-item" %>
          <a class="dropdown-item" href="#"></a>            
          <a class="dropdown-item" href="/#questions">Preguntas Frecuentes</a>
          <div class="dropdown-divider"></div>
          <%= link_to "Volver al home", root_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
        <%= form_tag talks_path, method: :get, class:"form-inline" do %>
          <%= text_field_tag :query, params[:query] ,class: "form-control", placeholder: "Escriba aquí"%>
            <%= submit_tag "Buscar", class: "btn btn-warning" %>
        <% end %>
   </div>

  <!--Login-->

  <ul class="navbar-nav mr-0">
    <% if user_signed_in? %>
    <li class="nav-item active">
    </li>
    <li class="nav-item">
      <%= link_to "Mi perfil", myprofile_path, class: "nav-link" %>
    </li>
    <li class="nav-item dropdown">
      <% if current_user.photo.attached? %> 
        <%= image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Crear nuevo evento", new_talk_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
    <% else %>
    <li class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
    <% end %>
  </ul>
</nav>
