<br>
<div>
  <h2 class= "m-4"><strong> Mis eventos creados</h2></strong>

  <% talks = Talk.where(user: current_user) %>
  <% talks.each do |talk| %>

  <div class="card mt-3 ml-3 shadow bg-light rounded w-50">
    <div class="row m-2 rounded font-weight-light">
      <div class="col-8">
        <div class="card-body text-justify">
          <h5 class="mt-3"><%= talk.title %></h5>
          <h6 class="font-weight-light"><strong><%= talk.user.first_name %>, <%= talk.user.last_name %></h6></strong>
          <br>
          <h6><%= talk.description %></h6>
          <br>
          <h6 class="font-weight-light" >Precio Pesos ARG: <strong>$ <%= talk.price.to_i %></h6></strong>
          <h6 class="font-weight-light">Fecha y hora: <strong><%= talk.date %> / <%= talk.time.strftime("%I:%M %p")%></h6></strong>
          <h6 class="font-weight-light">Capacidad: <strong><%= talk.capacity.to_i %> personas</h6></strong>
          <h6 class="font-weight-light">Informacion de la charla: <strong><%= talk.info %></h6></strong>
        </div>
      </div>
      <div class="col-4 s mt-3 rounded mt-2">
        <% if talk.photo.attached? %> 
          <%= cl_image_tag talk.photo.key, class: "img-fluid w-100 rounded" %>
        <% end %>
          <%= link_to "Editar charla", edit_talk_path(talk), class:"btn btn-success w-100 mt-3" %>  

          <button id="sweet-alert-talk" data-button-id="delete-talk-<%= talk.id %>" class="btn btn-sm btn-danger w-100 mt-3"> Borrar charla </button>
          <%= link_to "", talk_path(talk), method: :delete, id: "delete-talk-#{talk.id}", class:"hidden" %>  

      </div>
    </div>
  </div>
    <% end %>
</div>
<br>
<div>
  <h2 class= "m-4"><strong> Mis appointments</h2></strong>
<br>

  <% appointments = Appointment.where(user: current_user) %>
  <% appointments.each do |app| %>

  <div class="card mt-3 ml-3 shadow bg-light rounded w-50">
    <h4 class="m-3"><%= app.talk.title %></h4>
    <div class="row m-2 rounded font-weight-light">
      <div class="col-8">
        <div class="card-body">
          
          <h6 class="font-weight-light">Nombre del anfitrion: <strong><%= app.talk.user.first_name %>, <%= app.talk.user.last_name %></h6></strong>
          <h6 class="font-weight-light">Descripción: <strong> <%= app.talk.description %></h6> </strong>
          <h6 class="font-weight-light">Precio Pesos ARG, por hora: <strong>$ <%= app.talk.price.to_i %></h6></strong>
          <h6 class="font-weight-light">Fecha y hora: <strong><%= app.talk.date %> / <%= app.talk.time.strftime("%I:%M %p")%></h6></strong>
          <h6 class="font-weight-light">Capacidad: <strong><%= app.talk.capacity.to_i %> personas</h6></strong>
          <br>
          <h6>Informacion de la charla: <strong><%= app.talk.info %></h6></strong>
        </div>
      </div>
      <div class="col-4">
        <%= cl_image_tag app.talk.photo.key, class: "img-fluid w-100 rounded" %>
          <button id="sweet-alert-appointment" class="btn btn-sm btn-danger w-100 mt-3"> Borrar reserva </button>
          <%= link_to "", appointment_path(app), method: :delete, id: "delete-appointment", class:"hidden" %> <!-- btn btn-sm btn-danger mt-3" -->
      </div>
    </div>
  </div>
    <% end %>
</div>
<br>
<br>
<h2 class= "m-4"><strong> Mis favoritos</h2></strong>
<% favoritos = current_user.all_favorited%>

<% favoritos.each_with_index do |fav, index| %>
<div>
  <div class="row m-3 shadow p-3 bg-white rounded w-50">
  
    <div class="col-8">
      <%= link_to talk_path(favoritos[index]), style:"text-decoration:none" do %>
        <h6><%= favoritos[index].title %>
        <br>
        <%= favoritos[index].date %></h6>
      <% end %>
    </div>
    <div class="col-4">
      <%# <%= cl_image_tag favoritos[index].talk.photo.key, class: "img-fluid w-100 rounded" %>
      <button id="sweet-alert-favorite" class="btn btn-sm btn-danger"> Borrar favorito </button>
      <%= link_to "", favorite_path(fav.id), method: :delete, class: "delete-favorite", class:"hidden"%> <!-- btn btn-sm btn-danger mt-1 w-25" -->   
    </div>
  </div>
<% end %>
</div>
