<br>
<br>
<br>


<h3 class="mx-4">Hola, <%= current_user.first_name%></h3>

<div class="d-md-flex mx-3">

  <div class="col-md-4 col-12" >
        
      <h4 class="my-3"><strong>Eventos creados por vos</h4></strong>

    
    <% talks = Talk.where(user: current_user) %>
    <% talks.each do |talk| %>
      <div class="card-product">
        <% if talk.photo.attached? %> 
            <%= cl_image_tag talk.photo.key, class: "img-fluid rounded" %>
          <% end %>
          <div class="card-product-infos">          
            <h2 class="mt-3"><%= talk.title %></h2>
            <p><strong><%= talk.user.first_name %>, <%= talk.user.last_name %></p></strong>
            <p><%= talk.description %></p>
            <p>Precio Pesos ARG: <strong>$ <%= talk.price.to_i %></p></strong>
            <p>Fecha y hora: <strong><%= talk.date.strftime('%a %d %b %Y') %> / <%= talk.time.strftime("%I:%M %p")%></p></strong>
            <p>Capacidad: <strong><%= talk.capacity.to_i %> personas</p></strong>
            <p>Informacion de la charla: <strong><%= talk.info %></p></strong>

          <%= link_to "Editar", edit_talk_path(talk), class:"btn btn-sm btn-success my-2" %>  
          <button id="sweet-alert-talk" data-button-id="delete-talk-<%= talk.id %>" class="btn btn-sm btn-danger my-2">Eliminar</button>
          <%= link_to "", talk_path(talk), method: :delete, id: "delete-talk-#{talk.id}", class:"hidden" %>  
          </div>
      </div>
      <% end %>
       
  </div>




    <div class="col-md-4 col-12">
        <h4 class="my-3"><strong> Eventos en los que participaras</h4></strong>
        
        <% appointments = Appointment.where(user: current_user) %>
        <% appointments.each do |app| %>
          <div class="card-product">
            <%= cl_image_tag app.talk.photo.key, class: "img-fluid rounded" %>
            <div class="card-product-infos">
              <h2 class="mt-3"><%= app.talk.title %></h2>
              <p><strong><%= app.talk.user.first_name %>, <%= app.talk.user.last_name %></p></strong>
              <p><%= app.talk.description %></p>
              <p>Precio Pesos ARG: <strong>$<%= app.talk.price.to_i %></p></strong>
              <p>Fecha y hora: <strong><%= app.talk.date.strftime('%a %d %b %Y') %> / <%= app.talk.time.strftime("%I:%M %p")%></p></strong>
              <p>Capacidad: <strong><%= app.talk.capacity.to_i %> personas</p></strong>
              <p>Informacion de la charla: <strong><%= app.talk.info %></p></strong>
              <button id="sweet-alert-appointment" class="btn btn-sm btn-danger my-2">Eliminar</button>
              <%= link_to "", appointment_path(app), method: :delete, id: "delete-appointment", class:"hidden" %> <!-- btn btn-sm btn-danger mt-3" -->
              </div>
            </div>
          <% end %>
    </div>  
    
    
 
  <div class="col-md-4 col-12">
    
  <h4 class="my-3 ml-1"><strong> Favoritos</h4></strong>    
  <% favoritos = current_user.all_favorited%>
  <% favoritos.each_with_index do |fav, index| %>
    <div>
        <div class="row shadow p-2 bg-white rounded mx-1">
            
          <%= link_to talk_path(favoritos[index]), style:"text-decoration:none" do %>
            <div class="col-12">
              <p><%= favoritos[index].date.strftime('%a %d %b %Y') %></p>
              <p><%= favoritos[index].title %></p>
        <div>
        <button id="sweet-alert-favorite" class="btn btn-sm btn-danger"> Eliminar</button>
        <%= link_to "", favorite_path(fav.id), method: :delete, class: "delete-favorite", class:"hidden"%>
        </div>  
          <% end %>
        </div>
        </div>
  <% end %>
    </div>      
  </div>
</div>






<!--Hacia arriba probando-->











<br>
<div>
  <h4 class= "m-4"><strong> Mis eventos creados</h4></strong>

  <% talks = Talk.where(user: current_user) %>
  <% talks.each do |talk| %>

  <div class="card mt-3 ml-3 shadow bg-light rounded w-50">
    <div class="row m-2 rounded font-weight-light">
      <div class="col-8">
        <div class="card-body text-justify">
          <h5 class="mt-3"><%= talk.title %></h5>
          <h6 class="font-weight-light"><strong><%= talk.user.first_name %>, <%= talk.user.last_name %></h6></strong>
          <br>
          <h6><%= talk.description %></h6>
          <br>
          <h6 class="font-weight-light" >Precio Pesos ARG: <strong>$ <%= talk.price.to_i %></h6></strong>
          <h6 class="font-weight-light">Fecha y hora: <strong><%= talk.date %> / <%= talk.time.strftime("%I:%M %p")%></h6></strong>
          <h6 class="font-weight-light">Capacidad: <strong><%= talk.capacity.to_i %> personas</h6></strong>
          <h6 class="font-weight-light">Informacion de la charla: <strong><%= talk.info %></h6></strong>
        </div>
      </div>
      <div class="col-4 s mt-3 rounded mt-2">
        <% if talk.photo.attached? %> 
          <%= cl_image_tag talk.photo.key, class: "img-fluid w-100 rounded" %>
        <% end %>
          <%= link_to "Editar charla", edit_talk_path(talk), class:"btn btn-success w-100 mt-3" %>  

          <button id="sweet-alert-talk" data-button-id="delete-talk-<%= talk.id %>" class="btn btn-sm btn-danger w-100 mt-3"> Borrar charla </button>
          <%= link_to "", talk_path(talk), method: :delete, id: "delete-talk-#{talk.id}", class:"hidden" %>  

      </div>
    </div>
  </div>
    <% end %>
</div>
<br>
<div>
  <h2 class= "m-4"><strong> Mis appointments</h2></strong>
<br>

  <% appointments = Appointment.where(user: current_user) %>
  <% appointments.each do |app| %>

  <div class="card mt-3 ml-3 shadow bg-light rounded w-50">
    <h4 class="m-3"><%= app.talk.title %></h4>
    <div class="row m-2 rounded font-weight-light">
      <div class="col-8">
        <div class="card-body">
          
          <h6 class="font-weight-light">Nombre del anfitrion: <strong><%= app.talk.user.first_name %>, <%= app.talk.user.last_name %></h6></strong>
          <h6 class="font-weight-light">Descripción: <strong> <%= app.talk.description %></h6> </strong>
          <h6 class="font-weight-light">Precio Pesos ARG, por hora: <strong>$ <%= app.talk.price.to_i %></h6></strong>
          <h6 class="font-weight-light">Fecha y hora: <strong><%= app.talk.date %> / <%= app.talk.time.strftime("%I:%M %p")%></h6></strong>
          <h6 class="font-weight-light">Capacidad: <strong><%= app.talk.capacity.to_i %> personas</h6></strong>
          <br>
          <h6>Informacion de la charla: <strong><%= app.talk.info %></h6></strong>
        </div>
      </div>
      <div class="col-4">
        <%= cl_image_tag app.talk.photo.key, class: "img-fluid w-100 rounded" %>
          <button id="sweet-alert-appointment" data-button-id="delete-appointment-<%= app.id %>" class="btn btn-sm btn-danger w-100 mt-3"> Borrar reserva </button>
          <%= link_to "", appointment_path(app), method: :delete, id: "delete-appointment-#{app.id}", class:"hidden" %>  <!-- btn btn-sm btn-danger mt-3" -->
      </div>
    </div>
  </div>
    <% end %>
</div>
<br>
<br>
<h2 class= "m-4"><strong> Mis favoritos</h2></strong>
<% favoritos = current_user.all_favorited%>

<% favoritos.each_with_index do |fav, index| %>
<div>
  <div class="row m-3 shadow p-3 bg-white rounded w-50">
  
    <div class="col-8">
      <%= link_to talk_path(favoritos[index]), style:"text-decoration:none" do %>
        <h6><%= favoritos[index].title %>
        <br>
        <%= favoritos[index].date %></h6>
      <% end %>
    </div>
    <div class="col-4">
      <%# <%= cl_image_tag favoritos[index].talk.photo.key, class: "img-fluid w-100 rounded" %>
      <button id="sweet-alert-favorite" data-button-id="delete-favorite-<%= fav.id %>" class="btn btn-sm btn-danger"> Borrar favorito </button>
      <%= link_to "", favorite_path(fav), method: :delete, class: "hidden", id: "delete-favorite-#{fav.id}"%> <!-- btn btn-sm btn-danger mt-1 w-25" --> 
    </div>
  </div>
<% end %>
</div>
